@mixin headerFooterStyle{
    display:flex;
    height: 8.3vh;
    width: 100%;
    background: rgba(54, 54, 54, 0.95);
    align-items: center;
}


@mixin for-tablet {
    @media (min-width:481px){
      @content;
    }
  }
  
  @mixin for-small-screen {
    @media (min-width:769px){
      @content;
    }
  }
  
  @mixin for-large-screen {
    @media (min-width:1025px){
      @content;
    }
  }
  
  @mixin for-extra-large-screen {
    @media (min-width:1201px) {
      @content;
    }
  }
  