body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  background: black;
  position: relative;
  min-height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8.3vh;
  width: 100%;
  background: #363636;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  right: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (min-width: 769px) {
  .header {
    height: 12vh;
  }
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline .fa-universal-access {
  margin-left: 10px;
  font-size: 32px;
  color: #dfdddd;
}

@media (min-width: 769px) {
  .headline .fa-universal-access {
    font-size: 38px;
  }
}

.headline h1 {
  font-size: 18px;
  color: #dfdddd;
  margin: 10px;
  font-family: "Roboto Mono", Verdana, Tahoma, sans-serif;
}

@media (min-width: 769px) {
  .headline h1 {
    font-size: 20px;
  }
}

.fa-bars {
  color: #dfdddd;
  font-size: 30px;
  margin: 10px;
}

@media (min-width: 769px) {
  .fa-bars {
    font-size: 38px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .presentation {
  color: #dfdddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main .presentation h2 {
  font-family: "Roboto Mono", Verdana, Tahoma, sans-serif;
  font-size: 26px;
}

@media (min-width: 769px) {
  .main .presentation h2 {
    font-size: 30px;
  }
}

.main .presentation p {
  font-family: Catamaran, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 481px) {
  .main .presentation p {
    max-width: 360px;
  }
}

@media (min-width: 769px) {
  .main .presentation p {
    max-width: 450px;
    font-size: 20px;
  }
}

.main .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .main .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  height: 100%;
  background: #222121;
  color: #ecebeb;
  margin: 5px 1px 5px 1px;
  border: 1px solid #333333;
}

@media (min-width: 481px) {
  .main article {
    max-width: 80vw;
    border-radius: 5px;
  }
}

@media (min-width: 769px) {
  .main article {
    margin: 20px;
  }
}

.main article .first-img img {
  width: 355px;
}

@media (min-width: 481px) {
  .main article .first-img img {
    border-radius: 5px;
  }
}

.main article .second-img img {
  width: 355px;
}

@media (min-width: 481px) {
  .main article .second-img img {
    border-radius: 5px;
  }
}

.main article h2 {
  font-family: "Roboto Mono", Verdana, Tahoma, sans-serif;
  margin: 5px;
}

.main article p {
  font-family: Catamaran, Verdana, Tahoma, sans-serif;
  margin: 5px;
}

.main article button {
  color: #2b2a2a;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 10px;
  background: #ececec;
}

.main article button:hover {
  background: pink;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8.3vh;
  width: 100%;
  background: #363636;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  right: 0;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 0;
  height: 6vh;
}

@media (min-width: 769px) {
  .footer {
    height: 10vh;
  }
}

.fa-angle-up {
  margin: 20px;
  color: #dfdddd;
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */