@import "partials/mixins";
@import "partials/variables";


body{
    margin: 0;
    background: black;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position:relative;
    min-height:100vh;
}




.header {
height: 10vh;
position: sticky;
top: 0;
display:flex;
background: rgba(54, 54, 54, 0.95);
align-items: center;
justify-content: space-between;


@include for-small-screen {
    height: 12vh
}

}



.headline{
    display:flex;
    align-items: center;

    .fa-universal-access{
        margin-left:10px;
        font-size: 32px;
        color: $white;

        @include for-small-screen {
            font-size: 38px;
        }
    }

    h1{
        font-size: 18px;
        color: $white;
        margin: 10px;
        font-family: "Roboto Mono", Verdana, Tahoma, sans-serif ;
        
        @include for-small-screen {
            font-size: 20px;
        }
    }

}

.fa-bars{
    color: $white;
    font-size: 30px;
    margin:10px;

    @include for-small-screen {
        font-size: 38px;
    }
}



.main {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    .presentation {
        color: $white;
        display:flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        h2 {
            font-family: "Roboto Mono", Verdana, Tahoma, sans-serif;
            font-size: 26px;

            @include for-small-screen{
                font-size: 30px;
            }
        }
        p {
            font-family: Catamaran, Verdana, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: bold;
            @include for-tablet {
                max-width: 360px;
            }
            @include for-small-screen{
                max-width: 450px;
                font-size: 20px;
            }
        }

    }

    .articles{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        @include for-small-screen {
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 80vw;
        }
    }

}
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        background:rgb(34, 33, 33);
        color:rgb(236, 235, 235);
        margin: 5px 1px 5px 1px;
        flex: 1 0 40%;
        

        @include for-tablet {
            max-width: 80vw;
            border-radius: 5px;
            
        }
        @include for-small-screen {
            margin: 10px;
        }
    
        .img{
            max-width: 99vw;

            @include for-tablet {
                border-radius: 5px;
                max-width: 380px;
            }

            @include for-small-screen {
                max-width: 360px;
            }

            @include for-large-screen {
                max-width:380px;
            }
        }

        h2{
            font-family: "Roboto Mono", Verdana, Tahoma, sans-serif;
            margin: 10px;
        }

        p, ul{
            font-family: Catamaran, Verdana, Tahoma, sans-serif;
            font-size: 18px;
            margin: 10px;
        }

        ul {
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            margin:10px;
        }

        a {
                text-decoration: none;
                color: $white;
                font-size: 1rem;
                font-family: "Roboto mono", Verdana, Tahoma;
                margin:10px;
                font-weight: bold;
            &:hover {
                background: pink;
                color: black;
            }
        }
        
    }


.img-article img{
    max-width: 99vw;

    @include for-tablet{
        max-width:80vw;
    }

    @include for-large-screen {
        max-width: 75vw;
    }
    
}

.footer {
    display:flex;
    background-color: rgba(54, 54, 54, 0.95);
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    position:relative;
    bottom: 0;
    
}

.fa-angle-up{
        margin:20px;
        color:$white;
        font-size: 22px;

}
